button {
  background-color: blue;
  color: white;
  width: 250px;
  height: 80px;
}

button:hover {
  background-color: green;
}

h1 {
  font-weight: 700;
  font-size: 80px;
  margin: 50px 0;
}

p {
  font-weight: 400;
  font-size: 35px;
}
